.about-top {
    width: 96%;
    padding-bottom: 20px;
}

.middle-boxes-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.middle-boxes-about div {
    width: 45%;
    border-bottom: 1px dashed #000;
    margin-bottom: 60px;
}

.middle-boxes-about h2 {
    margin-top: 10px;
}

.learn-more-btn {
    margin: 20px 0;
    background: #fff;
    padding: 10px 25px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 16px;
}

.work-together {
    width: 93%;
    margin: 0 auto;
    
}